/* define the colour palette and type face */
* {
    --background: #efefef;
    --darkBackground: #d5d5d5;
    --text: #443635;
    --lightText: #706d6d;
    --accent: #843a1b;
    --accentHover: #aa7058;
    --input: #ffffff;
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
  }

a {
    color: var(--text);
    text-decoration: none;
}

body {
    background-color: var(--background);
    color: var(--text);
    font-size: 1rem;
    line-height: 1.5rem;
}


p {
    /* margin: 10px 0 10px 0; */
}

/* undisplay english version */
#en {
    display: none;
}


/* title "Tokyo Local" */
h1 {
    font-family: "ab-kirigirisu", sans-serif;
    font-weight: 400;
    font-style: normal;

    /* original: 24px */
    font-size: 1.7rem;
    /* border: blue 1px solid; */
}


/* used for elevator pitch, restaurant title, "Explore" */
h2 {
    /* original: 20px */
    font-size: 1.7rem;
    line-height: 1.7rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

/* used for subheading in a restaurant page */
h3 {
    /* original: 18px */
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

/* used for titles of reviews */
h4 {
    font-weight: bold;
}

button {}

/* CTA button, the heavy one */
.heavyButton {
    height: 44px;
    /* max-width: 325px; */
    width: 100%;
    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;
    border: none;
    background-color: var(--accent);
    color: var(--background);
    /* transition: 0.3s; */
}

.heavyButton:hover {
    background-color: var(--accentHover);
    /* font-weight: bold; */
}

/* CTA button, the light one */
.lightButton {
    height: 44px;
    /* max-width: 325px; */
    width: 100%;
    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;
    border: var(--accent) 1.5px solid;
    color: var(--text);
    background-color: var(--background);
    /* transition: 0.3s; */
}

.lightButton:hover {
    background-color: var(--darkBackground);

}

.underlineLink {
    text-decoration: underline;
}

.underlineLink:hover {
    color: var(--lightText);
}


/* a box for search bar: text input and search button */
#searchBar {
    display: block;
    /* border: 2px black solid; */
}

/* input form for search bar */
#searchInput {
    width: 100%;
    border-radius: 10px;
    background-color: var(--input);
    color: var(--lightText);
    font-size: 1rem;
    border: var(--lightText) 1px solid;
    height: 44px;
    padding-left: 20px;
}

/* heavybutton, but for search */
#searchButton {
    border-radius: 10px;
    margin: 10px 0 0 0;
    /* display: inline-block;
    text-align: center;
    padding: 8.5px 0; */
    /* height: auto; */
    /* width: 100%; */

}



/* text input for title of a review */
textInput {
    width: 100%;
    border-radius: 10px;
    background-color: var(--input);
    color: var(--lightText);
    font-size: 1rem;
    border: var(--lightText) 1px solid;
    height: 44px;
    padding-left: 20px;
}

/* text form for long messages */
textarea {
    width: 100%;
    border-radius: 10px;
    background-color: var(--input);
    color: var(--lightText);
    font-size: 1rem;
    border: var(--lightText) 1px solid;
    height: 300px;
    padding-left: 20px;
    padding-top: 20px;
}


/* fixed header */
header {
    /* fixed position */
    z-index: 2;
    position: fixed;
    top: 0px;
    width: 100%;
    height: 115px;
    background-color: var(--background);
    /* border: red 1px solid; */

    /* margin for both sides (width 80%) */
    padding: 0 7.5% 0 7.5%;

    /* padding for mobile devices */
    padding-top: 45px;


    /* put the title and navigations on the both sides */
    display: flex;
    justify-content: space-between;
    align-items: center;

}

#backButton {

    display: none;
    font-weight: bold;
    border: var(--text) 1px solid;
    font-size: 1rem;
    background-color: var(--background);
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;

}

#backButton:hover {
    background-color: var(--darkBackground);
}

/* the main part of the page */
main {
    /* put the margins both sides (80%) and header (115+30px) */
    margin: 145px 7.5% 0 7.5%;
}

/* main, but divides the sections inside it */
#divider {
    display: block;
    /* flex-wrap: wrap; */
}

/* two boxes on restaurant pages, to divide the entire page into 2 chunks (responsive) */
#dividedByTwo {
    /* border: black 2px solid; */
    margin: 0 0 30px 0;
    /* width: 50%; */
    /* flex-grow: 1; */
    /* width: 50%; */
    /* min-width: 300px; */
    /* margin: 20px; */
}



/* define space between sections */
.blocks {
    margin-bottom: 40px;
}



/* navigation on the header */
#topNav {
    /* border: blue 1px solid; */
    /* height: 46px; */

    /* display them inline */
    display: flex;
}

/* 2 nav icons on the header */
.iconBox {
    font-size: 0.68rem;
    line-height: 0.68rem;
    text-align: center;

    /* space between 2 icons */
    margin-left: 14px;
    cursor: pointer;

    /* for the sake of dropdown */
    position: relative;
    display: inline-block;
}

.iconBox:hover {
    text-decoration: underline;
    filter: contrast(200%);
}

/* the actual icons in the header*/
.headerIcon {
    width: 34px;
    height: 34px;
}


ul {
    list-style-position: inside;
}




/* the section on the top page, with a background image and some nice copies*/
#elevatorPitchCover {

    height: 282px;

    /* unoverride on header (main handles this) */
    margin-top: 115px;
    margin-bottom: -115px;

    /* border: green 1px solid; */
    /* text color = white */
    color: var(--background);

    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('../images/toppage_cover.jpeg');
    background-size: cover;

    padding: 20px;

}

/* the inside of elevatorPitchCover, containing the texts, and the button */
#elevatorPitch {
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    text-align: center;
}

/* exlore now button, inherit light button */
#exploreNow {
    width: 250px;
    display: inline-block;
    padding: 8.5px 0;
    height: auto;

}





/* the line includes the title of the each page and sort, filters */
.headingAndFilters {
    /* border: red 1px solid; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

/* a box includes sort and filter elements */
#searchNav {
    /* border: purple 1px solid; */
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
}

/* buttons that have the filter icon and the text "filters" */
.filterIconAndName {

    /* height: 44px; */

    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;

    border: var(--lightText) 1px solid;
    background-color: var(--background);
    margin: 0 0 5px 5px;
    padding: 8px 0;
    display: block;
    width: 100px;
    text-align: center;


}

/* when the sort button is hovered, display the dropdown */
.filterIconAndName:hover:hover #sorting {
    display: block;
}

/* style for sorting dropdown menu */
#sorting {
    display: none;
    position: absolute;
    background-color: var(--background);
    border-radius: 10px;
    filter: none;
    font-size: 1rem;
    line-height: 2rem;
    text-align: left;
    /* min-width: 160px; */
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 20px 40px 20px 30px;
    margin-top: 12px;
    z-index: 1;
}

/* when the filter buttons are hovered, the backgraund colour changes */
.filterIconAndName:hover {
    background-color: var(--darkBackground);
}

/* the sort and filter icons themselves */
.filterIcon {
    width: 18px;
    height: 20x;
}

/* the section of the list of the restaurants, should be wrapped */
#restaurantList {
    margin: 0 -1% 0 -1%;
    /* border: red 1px solid; */
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

}

/* each thumbnails of a restaurant */
.thumbnails {
    border-radius: 10px;
    /* border: black 1px solid; */
    margin: 1%;
    width: 48%;
    /* width: 23%; */
    aspect-ratio: 1 / 1 !important;
}

/* the image inside */
.thumbnailImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
    cursor: pointer;
}

.thumbnailImage:hover {
    filter: opacity(50%);
}


/* restaurant pages - add to my favourites button */
#addToFavourites {
    margin-left: 20px;
    background-color: var(--accent);
    color: var(--background);
    min-height: 40px;
    max-height: 55px;
    font-size: 1rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    padding: 10px 20px;
    /* line-height: 1rem; */
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;

}

#addToFavourites:hover {
    background-color: var(--accentHover);
}

/* style the heart icon */
#addToFavouritesIcon {
    height: 1rem;
    filter: invert(100%) sepia(3%) saturate(258%) hue-rotate(224deg) brightness(1200%) contrast(87%);
    margin-right: 10px;
}

/* restaurant pages - box for review title, and the date */
.titleAndDetails {
    display: flex;
    justify-content: space-between;
}

/* style the date */
#dates {
    /* margin-left: 30px; */
    color: var(--lightText);
    /* font-size: 0.9rem; */
    /* line-height: 1.5rem; */
    /* font-style: italic; */
}


/* report problem part */
footer {
    width: 100%;
    margin: 40px 0 40px 0;
    text-align: center;
}

/* restaurant page - map */
#googlemaps {
    border: 0;
    border-radius: 10px;
    width: 100%;
    /* max-width: 325px; */
}

#page404{
    text-align: center;
    /* border: 1px solid; */
    width: 100%;
    position: relative;
    /* top: 60%; */
    left: 50%;
    transform: translate(-50%, 50%);
}

/* the scalars on the restaurant pages */
.scalar{
    text-align: center;

}

/* swiper */
.swiper {
    width: 100%;
    aspect-ratio: 1 / 1;
    --swiper-pagination-color: var(--background);
    --swiper-scrollbar-color: var(--background);
    border-radius: 10px;

    max-width: 500px;
    cursor: pointer;

}

/* the images inside */
.cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-button-prev {
    color: var(--background) !important;
}

.swiper-button-next {
    color: var(--background) !important;
}


/* star rating */
.rate i,
.rate i:hover~i {
    padding-right: 10px;
    font-size: 2rem;
    color: var(--background);
    text-shadow: none;
    -webkit-text-stroke: 3px var(--text);
}

.rate:hover i {
    color: var(--text);
}

.rate i {
    cursor: pointer;
    font-style: normal;
}



/* filter sidebar */

.sidebar {
    height: 100%;
    /* padding-left: 25px; */
    /* margin-top: 115px; */
    width: 0;
    /* width: px; */
    position: fixed;
    z-index: 3;
    top: 0;
    right: 0;
    background-color: var(--background);
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 60px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    /* border: 1px black solid; */
}

.sidebar .blocks {
    padding: 6px 25px 6px 25px;
}

.sidebar label {
    /* padding: 8px 8px 8px 32px; */
    font-size: 1.1rem;
    /* text-decoration: none; */
    /* font-size: 25px; */
    /* color: #818181; */
    /* display: block; */
    /* transition: 0.3s; */
}

.sidebar label:hover {
    /* color: var(--lightText); */
}

.sidebar .closebtn {
    position: absolute;
    top: 25px;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* input text in the filter */
.filterText {
    width: 70%;
    border-radius: 10px;
    background-color: var(--input);
    color: var(--lightText);
    font-size: 1rem;
    border: var(--lightText) 1px solid;
    height: 30px;
    padding-left: 10px;
}



/* .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
  } */

/* .openbtn:hover {
    background-color: #444;
  } */


/* dropdown */
/* .dropdown {
    position: relative;
    display: inline-block;
}  */

/* style for dropdown menu */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--background);
    filter: none;
    font-size: 1rem;
    line-height: 2rem;
    text-align: left;
    /* min-width: 160px; */
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 10px 20px;
    z-index: 1;
}

/* when the p is hovered */
.dropdown-content p:hover  {
    color: var(--lightText);
}

/* icon hovered */
.iconBox:hover .dropdown-content {
    display: block;
}





@media only screen and (min-width: 950px) {

    /* when the screen is bigger than 950px, restanrant page goes with 2 columns */
    #divider {
        /* background-color: lightblue; */
        display: flex;
        flex-wrap: wrap;
    }

    #dividedByTwo {
        flex-grow: 1;
        margin: 0 40px 0 40px;
        width: 40%;
    }

    /* swiper sticky */
    .swiper {
        position: sticky !important;
        top: 60%;
        transform: translate(0, -50%);
    }



    /* a box for search bar: text input and search button */
    #searchBar {
        display: flex;

    }

    /* input form for search bar */
    #searchInput {
        width: 100%;

    }

    /* heavybutton, but for search */
    #searchButton {
        width: 205px;
        margin: 0 0 0 10px;

    }

    /* footer {
        text-align: left;
    } */

    #backButton {

        display: block;
        position: fixed;


    }


    .lightButton {
        max-width: 250px;
    }

    .heavyButton {
        max-width: 250px;
    }

    .thumbnails {
        width: 23%;
        aspect-ratio: 1 / 1 !important;
    }

    /* the scalars on the restaurant pages */
.scalar{
    text-align: left;

}

}