/* define the colour palette and type face */
* {
    --background: #efefef;
    --text: #443635;
    --lightText: #706d6d;
    --accent: #843a1b;
    --input: #ffffff;
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    color: var(--text);
    text-decoration: none;
}

body {
    background-color: var(--background);
    color: var(--text);
    font-size: 1rem;
    line-height: 1.5rem;
}


p {
    /* margin: 10px 0 10px 0; */
}



/* title "Tokyo Local" */
h1 {
    font-family: "ab-kirigirisu", sans-serif;
    font-weight: 400;
    font-style: normal;

    /* original: 24px */
    font-size: 1.7rem;
    /* border: blue 1px solid; */
}


/* used for elevator pitch, restaurant title, "Explore" */
h2 {
    /* original: 20px */
    font-size: 1.7rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

/* used for subheading in a restaurant page */
h3 {
    /* original: 18px */
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

/* used for titles of reviews */
h4 {
    font-weight: bold;
}

button {
    height: 44px;
    max-width: 325px;
    width: 100%;
    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;
}

/* CTA button, the heavy one */
.heavyButton {
    border: none;
    background-color: var(--accent);
    color: var(--background);

}

/* CTA button, the light one */
.lightButton {
    border: var(--accent) 1.5px solid;
    background-color: var(--background);

}

.underlineLink {
    text-decoration: underline;
}

/* text input */
input {
    width: 100%;
    border-radius: 10px;
    background-color: var(--input);
    color: var(--lightText);
    font-size: 1rem;
    border: var(--lightText) 1px solid;
    height: 40px;
    padding-left: 20px;
}

/* text form for long messages */
textarea {
    width: 100%;
    border-radius: 10px;
    background-color: var(--input);
    color: var(--lightText);
    font-size: 1rem;
    border: var(--lightText) 1px solid;
    height: 300px;
    padding-left: 20px;
    padding-top: 20px;
}


/* fixed header */
header {
    /* fixed position */
    z-index: 999;
    position: fixed;
    top: 0px;
    width: 100%;
    height: 115px;
    background-color: var(--background);
    /* border: red 1px solid; */

    /* margin for both sides (width 80%) */
    padding: 0 7.5% 0 7.5%;

    /* padding for mobile devices */
    padding-top: 45px;


    /* put the title and navigations on the both sides */
    display: flex;
    justify-content: space-between;
    align-items: center;

}

/* the main part of the page */
main {
    /* put the margins both sides (80%) and header (115+30px) */
    margin: 145px 7.5% 0 7.5%;
}

/* main, but divides the sections inside it */
#divider {
    display: block;
    /* flex-wrap: wrap; */
}

/* two boxes on restaurant pages, to divide the entire page into 2 chunks (responsive) */
#dividedByTwo {
    /* border: black 2px solid; */
    margin: 0 0 30px 0;
    /* width: 50%; */
    /* flex-grow: 1; */
    /* width: 50%; */
    /* min-width: 300px; */
    /* margin: 20px; */
}



/* define space between sections */
.blocks {
    margin-bottom: 30px;
}



/* navigation on the header */
#topNav {
    /* border: blue 1px solid; */
    /* height: 46px; */

    /* display them inline */
    display: flex;
}

/* 2 nav icons on the header */
.iconBox {
    font-size: 0.68rem;
    line-height: 0.68rem;
    text-align: center;

    /* space between 2 icons */
    margin-left: 10px;
}

/* the actual icons in the header*/
.headerIcon {
    width: 34px;
    height: 34px;
}


ul {
    list-style-position: inside;
}




/* the section on the top page, with a background image and some nice copies*/
#elevatorPitchCover {

    height: 282px;

    /* unoverride on header (main handles this) */
    margin-top: 115px;
    margin-bottom: -115px;
    
    /* border: green 1px solid; */
    /* text color = white */
    color: var(--background);

    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('../images/toppage_cover.jpeg');
    background-size: cover;

    padding: 20px;

}

/* the inside of elevatorPitchCover, containing the texts, and the button */
#elevatorPitch {
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    text-align: center;
}





/* the line includes the title of the each page and sort, filters */
.headingAndFilters {
    /* border: red 1px solid; */
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

/* sort and filter */
#searchNav {
    /* border: purple 1px solid; */
}

/* the sort and filter icons themselves */
.filterIcon {
    width: 18px;
    height: 20x;
    margin-left: 10px;
}

/* the section of the list of the restaurants, should be wrapped */
#restaurantList {
    margin: 0 -10px 0 -10px;
    border: red 1px solid;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

}

/* each thumbnails of a restaurant */
.thumbnails {
    border-radius: 10px;
    border: black 1px solid;
    margin: 10px;
    width: 160px;

    height: 160px;
    /* flex-grow: 1; */

}

/* report problem part */
footer {
    width: 100%;
    margin: 40px 0 40px 0;
}


/* swiper */
.swiper {
    width: 100%;
    aspect-ratio : 1 / 1;
    --swiper-pagination-color: var(--text);
    border-radius: 10px;

    max-width: 500px;


  }

  /* the images inside */
  .cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  

/* star rating */
   .rate i, .rate i:hover ~ i {
    padding-right: 10px;
    font-size: 2rem;
    color:var(--background);
    text-shadow: none;
    -webkit-text-stroke: 3px var(--text);
  }
  
  .rate:hover i {
    color: var(--text);
  }
  
  .rate i {
    cursor: pointer;
    font-style: normal;
  }



  /* when the screen is bigger than 950px, restanrant page goes with 2 columns */
@media only screen and (min-width: 950px) {
    #divider {
      /* background-color: lightblue; */
      display: flex;
      flex-wrap: wrap;
    }

    #dividedByTwo {
        flex-grow: 1;
        margin: 0 40px 0 0;
        width: 40%;
    }

    /* swiper sticky */
    .swiper {
        position: sticky !important;
        top: 50%;
        transform: translate(0, -50%);
    }
  }